<main class="container">
  <% if @recipes.empty? %>
    <h1 class="text-4xl"> Vous n'avez pas encore participé à un cours, vous n'avez pas de recette disponible pour le moment ! </h1>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="text-2xl text-center my-5">
        <a href="<%= chef_recipe_path(recipe.chef, recipe.title)%>"><%= recipe.title %></a>
      </div>
    <% end %>
  <% end %>
</main>