<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur notre site !</h1>
    <p>Cher/Chère <%= @user.email %>,</p>
    <p>Nous sommes ravis de vous accueillir sur <strong>Cookin</strong>, votre nouveau lieu de référence pour <em>des cours de cuisine partagés</em>. Nous sommes convaincus que vous allez apprécier votre expérience sur notre plateforme.</p>
    <p>Votre compte est maintenant actif et vous pouvez accéder à toutes les fonctionnalités disponibles sur notre site. Nous espérons que vous trouverez ce que vous cherchez et que vous profiterez pleinement de nos services.</p>
    <p>Si vous avez besoin d'aide ou si vous avez des questions, n'hésitez pas à contacter notre service clientèle <a href="saeros@yopmail.com">ici</a>. Notre équipe sera ravie de vous aider.</p>
    <p>Nous vous remercions d'avoir choisi <strong>Cookin</strong> et nous sommes impatients de vous fournir une expérience en ligne de qualité supérieure.</p>
    <p>Bien cordialement,</p>
    <p>L'équipe de Cookin</p>
  </body>
</html>