<main class="container">
  <h1 class="font-bold text-4xl">Toutes les recettes de <%= @chef.full_name %> </h1>
  <% @recipes.each do |recipe| %>
    <div>
      <%= render partial:'chef-recipes', locals:{recipe: recipe} %>
    </div>
  <% end %>
</main>