<main class="container">
  <h1 class="font-bold text-4xl">À propos de Cookin</h1>
  <h2 class="font-bold text-2xl">Decouvrir notre concept</h2>
  <p>
    La plateforme qui vous permet de découvrir et d'apprendre de nouvelles
    recettes de cuisine tout en passant un moment convivial et enrichissant.
    Cookin a été créé en 2023 dans le but de mettre en relation des particuliers
    à la recherche d'un moment de convivialité et d'apprentissage autour de la
    cuisine. Chez Cookin, vous allez enfiler le tablier de cuisinier que vous
    soyez dans la peau d’un hôte cuisto ou d’un apprenti. En tant qu’apprenti
    vous pouvez parcourir les différentes offres de cours de cuisine proposées
    par des particuliers autour de chez vous, et ainsi apprendre de nouvelles
    techniques de cuisine et des recettes originales. En tant qu’hôte vous
    pourrez proposer des cours de cuisine et inviter des personnes chez vous
    pour leur apprendre de nouveaux plats. La particularité de Cookin est que
    chaque cours se termine par la dégustation des plats préparés ensemble,
    offrant ainsi un moment de partage et de convivialité.
  </p>
  <br class="my-5" />
  <h2 class="font-bold text-2xl my-5">À propos de nous</h2>
  <p>
    Nous sommes une équipe de 4 développeurs passionnés de cuisine et nous avons
    créé Cookin en 2023 pour répondre à un besoin : que toute personne puisse
    proposer un cours de cuisine simplement à la maison et que chacun puisse
    découvrir
  </p>
  <br class="my-2" />
  <p>
    Nous sommes convaincus que la cuisine est une véritable passion et que c'est
    en partageant nos connaissances que nous pouvons perpétuer cette tradition
    culinaire. Nous avons remarqué que les cours traditionnels manquent souvent
    de convivialité et que les participants ont rarement l'occasion de partager
    leur expérience et de passer un moment agréable avec leur chef. C'est
    pourquoi nous avons décidé de créer Cookin, une plateforme qui met en
    relation des particuliers passionnés de cuisine pour partager leur
    savoir-faire et passer un moment convivial autour d'une table.
  </p>
  <br class="my-5" />
  <h2 class="font-bold text-2xl my-5">Notre vision</h2>
  <p>
    Chez Cookin, nous avons à cœur de préserver les recettes familiales
    transmises de génération en génération et de les partager avec le plus grand
    nombre. Nous avons également à cœur de mettre en avant les chefs cuisiniers
    retraités qui ont une expérience et un savoir-faire incroyables, mais qui
    n'ont pas toujours les moyens de partager leur passion avec le monde. Nous
    sommes fiers de proposer une plateforme innovante et conviviale qui permet à
    tous les passionnés de cuisine de se rencontrer et de partager leur
    savoir-faire. Nous avons tous nos livres de recettes écrites à la main dans
    nos placards et nous pensons qu'il est temps de les ouvrir au plus grand
    nombre.
  </p>
  <br class="my-2" />
  <p>
    Nous espérons vous retrouver très bientôt sur Cookin pour passer un moment
    convivial et enrichissant autour de la cuisine. Venez découvrir de nouvelles
    recettes, partager votre passion avec d'autres passionnés et perpétuer la
    tradition culinaire en faisant vivre les recettes de nos grand-mères.
  </p>
  <br class="my-5" />
</main>
