<main class="container">
  <h1 class="font-bold text-4xl">Tu veux nous contacter ?</h1>
  <div class="flex-column">
    <form action="">
      <div class="field">
        <label for="email">Renseigne ton email</label>
        <input type="email" />
      </div>
      <div class="field">
        <label for="message">Que veux tu nous dire ?</label>
        <textarea></textarea>
      </div>
      <%= link_to "Envoyer", root_path, class:'button--l button--success' %>
    </form>
  </div>
</main>
