<div>
  <h1 class="font-bold text-4xl"> Toutes les masterclasses du site </h1>
</div>

<div>
  <% @masterclasses.each do |masterclass| %>
    <div> <%= link_to "#{masterclass.title}", masterclass_path(masterclass) %> </div>
  <% end %>
</div>
