
.chef_profile {
}

.chef_profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chef_profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex: 1;
}
.chef_profile__header > img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 12dvw;
  min-width: 150px;
}
.chef_profile__header > h2 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.5em;
}
.chef_profile__header--options {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;

}
.chef_profile__header--options li{
  justify-content: center;
  align-items: center;
  width: 25%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options--link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.8em;
  opacity: .8;

}
.chef_profile__header--options li:hover{
  background-color: lightgrey;
  border-radius: 50%;
  transition: ease .5s;
}
.options--link img {
  width: 35px;
  aspect-ratio: 1/1;
}
.options--link p {
  font-size: 0.8em;
}

.chef_profile__body{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;

}
.chef_profile__body h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: .5em 0;
}

.chef_profile__body p {
  line-height: 1.8;
}



@media screen and (min-width:1280px){
  .chef_profile__wrapper{
    flex-direction: row;
  }
  .chef_profile__header > h2{
    font-size: 3em;
  }
  .chef_profile__header{
    border-right: 1px lightgray solid;
  }
  .chef_profile__body{
    margin-left: 1em;
    border: none;
  }
}
