.text-4xl{
  text-align: center;
  margin: 1em auto;
}
.flex-column form, .new_user form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50dvh;
  min-width: 50dvh;
}
.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column form div {
  display: flex;
  flex-direction: column;
}
.flex-column input[type="text"],
.flex-column input[type="number"],
.flex-column input[type="email"],
.flex-column input[type="password"],
.field input[type="password"],
.field input[type="text"],
.field input[type="tel"],
.field input[type="email"],
.btn-upload
 {
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5em;
  max-width: 80dvw;
  min-width: 30dvw;
  width: 100%;
  margin-bottom: 0.5em;
}
input[type="datetime-local"],
.field input[type="date"]{
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 5em;
  max-width: 80dvw;
  min-width: 30dvw;
  width: 100%;
  margin-bottom: 0.5em;
  
}

.image-input {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image-input input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

.checkbox-recipe__wrapper{
  height: fit-content;
  padding: .5em .5em;
  border: 1px solid lightgray;
  border-radius: .5em;
}
.label-checkbox input{
  margin-right: .5em;
}
.checkbox-recipe__wrapper{
  width: 35dvh;
  display: flex;
}


 input[type="submit"], .actions input {
  background-color: var(--success);
  padding: .5em 1em;
  border-radius: .5em;
  color: white;
  margin: .5em 1em;
  max-width: 80dvw;
  min-width: 30dvw;
  width: 100%;
 }
select {
  border-radius: 0.5em;
}
textarea {
  border-radius: 0.5em;
  max-width: 80dvw;
  min-width: 30dvw;
  width: 100%;
  height: 300px;
  border: 1px solid lightgrey;
}

.flex-column div:nth-last-child(2){
  display: flex;
  margin: .5em 0;
}

input[type='file']{
  padding: 10px;
}

.shared-links {
  width: fit-content;
  margin: 0.5em 0
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__wrapper .actions {
  display: flex;
  justify-content: center;
}

.shared__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.shared__wrapper p {
  margin: 1em 0;
}
