.profile_badge{
  display: flex;
  height: 125px;
  min-width: fit-content;
  max-width: fit-content;
  border-radius: .5em ;
  border: 1px lightgray solid;
  align-items: center;
}
.profile_badge__image {
  width: 100px;
  height: 100px;
  margin: 0 0.8em;
}
.profile_badge__image img{
  border-radius: 50%;
}

.profile_badge__section{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-left: 1em;
  padding-right: 3em;
}

.profile_badge__section h2{
  align-self: flex-start;
}

.profile_badge__section p:nth-child(2){
  margin-left: .5em;
}
.profile_badge__notice{
  display: flex;
}
/* .profile_badge__notice p, .profile_badge__section button{
  margin-left: 1em ;
} */
.profile_badge__section a{
  margin-top: 0.5em;
}

@media screen and (max-width:640px) {
  .profile_badge{
    height: fit-content;
    max-height: fit-content;
  }
  .profile_badge__section a{
    margin-bottom: 0.5em;
  }

  
}