.masterclass-reservation{
  margin: 3em 0;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.masterclass-reservations__wrapper{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid grey;
  justify-content: space-between;

}
.masterclass-reservations__header{
  display: flex;
  margin:2em 0;
  width: fit-content;
}
.masterclass-reservations__header button{
  margin-left: 1em;
}

.masterclass-reservations__body{
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
  padding: 1em 0;
  display: inline-flex;
  flex-wrap: wrap;
}

.masterclass-reservations__body:last-child{
  border: none;
}
.masterclass-reservations__body h3{
  flex: 1;
}
.reservations {
  margin-left: 3em;
  display: flex;
  flex-wrap: wrap;
  
}
.reservation--button{
  margin: .5em .5em;
}
.reservation {
  min-width: 18%;
  height: fit-content;
  margin: 0.5em 0.5em;
  cursor: default;
}
.reservation__wrapper {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  min-height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9em;
  min-width: 100%;
  
}

.reservation__wrapper--true{
  border: 1px solid var(--success);
}
.reservation__wrapper--false{
  border: 1px solid var(--danger);
}

.reservation__header {
  margin-bottom: 0.5em;
}
.reservation__body p:nth-child(2) {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}

.masterclass_reservation--hidden{
  display: none;
}
.masterclass_reservation--visible{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .reservations {
    justify-content: center;
    align-items: center;
  }
  .reservation--button{
    margin: 1em auto;
  }
  .reservation {
    width: 65%;
    margin: 0.5em 0.5em;
  }

  .reservation__wrapper {
    justify-content: center;
    align-items: center;
  }
}
