.secondnav {
  width: 100%;
  height: 80px;
  border-top: 1px solid rgb(235, 235, 235);
  background-color: white;
  display: flex;
  align-content: center;
}
.secondnav__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  position: relative;
  height: 100%;
  padding: 0 3%;
}
.secondnav_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  width: 100px;
}

.secondnav_icon img{
  height:50px;
  width:50px;
  margin-bottom: .5em;
  margin-top: .5em;
  padding: 0.2em;
  transition: ease .2s;
  
}
.secondnav_icon img:hover{
  background-color: lightgray;
  border-radius: 50%;
  rotate: 10deg;
  scale: 1.2;
}


.secondnav--collapse{
  margin-top: 80px;
}

@media screen and (max-width:1280px){
  .secondnav__wrapper{
    overflow-y: scroll;
    min-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .secondnav_icon{
    width: 125px;
    height: 125px;
  }

  .secondnav_icon img{
    height: auto;
    margin-bottom: 0;
    
  }

}