<div class="reservation-badge">
  <div class="reservation-badge__wrapper">
      <button class="button--s button--primary"><%= link_to "Participer", masterclass_meetings_path(masterclass) %></button>
      <p><%= masterclass.price %> € par personnes</p>
  </div>
</div>