<main class="container">
  <h1 class="font-bold text-4xl">Cours de <%= @chef.full_name %> </h1>
  <% @masterclasses.each do |masterclass| %>
    <%= render partial:'chef-masterclasses', locals:{masterclass: masterclass, is_owner: @is_owner} %>
  <% end %>
</main>

