<main class="container">
  <h1 class="font-bold text-4xl">Mes réservations</h1>
  <div class="reservations">
    <% @reservations.each do |reservation| %>
    <%= reservation %>
      <%= render partial: "layouts/reservation_guest", locals: { reservation: reservation } %>
    <% end %>
  </div>
</main>
