<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>

    <p>
      En proposant ta première recette de <%= @recipe.title %>, tu es officiellement devenu chef sur Cookin.
    </p>
    <p>
      Qu'est-ce que cela signifie ? 
    </p>
    <p>
      Tu as maintenant accès à de nouvelles options pour passer aux choses sérieuses :
    </p>

    <ul>
      <li> Créer une masterclass : ce sont les cours que tu vas proposer, avec une ou plusieurs de tes recettes, une durée et un prix (indicatif) par convive. </li>
      <li> Créer des sessions : ce sont les sessions qui seront rattachées à tes cours, avec une adresse, une date et heure de rendez-vous, et un nombre de convives </li>
      <li> Gérer tes réservations : tu pourras voir les demandes de réservations des autres utilisateurs, les valider ou les refuser, voir le nombre de places restantes, etc. </li>
    </ul>

    <p>
      A très vite sur Cookin !
    </p>
  </body>
</html>
