<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @reservation.guest.first_name %> a annulé son inscription pour le cours <%= @reservation.masterclass.title %> !</h1>

    <p>
      Il était inscrit pour la session de <%= @reservation.meeting.start_date %>.
    </p>
    <p>
      Pour voir les réservations, connecte-toi via : <%= @url %>
    </p>
    <p>
      A très vite sur Cookin !
    </p>
  </body>
</html>
