<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @guest.first_name %>veut participer à ton cours <%= @meeting.masterclass.title %> !</h1>

    <p>
      Il s'est inscrit pour la session du <%= @meeting.start_date %>
    </p>
    <p>
      Pour gérer sa demande de réservation, connecte-toi via : <%= @url %>
    </p>
    <p>
      A très vite sur Cookin !
    </p>
  </body>
</html>
