      <div class="badge_category__wrapper">
        <% masterclass.categories.each do |category| %>
          <div class="badge_category">
            <p><%= category.name %></p>
          </div>
        <% end %>
      </div>