<div class="secondnav">
  <div class="secondnav__wrapper container">
    <div class="secondnav_icon">
      <%= link_to image_tag("burger.png"), masterclasses_path(search: "Fast-Food") %>
      <p>Fast Food</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("des-legumes.png"), masterclasses_path(search: "Végétarien") %>
      <p>Végétarien</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("taco.png"), masterclasses_path(search: "Mexicain") %>
      <p>Mexicain</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("viande.png"), masterclasses_path(search: "Mexicain") %>
      <p>Carnivor</p>
    </div>
  </div>
</div>