<div class="secondnav">
  <div class="secondnav__wrapper container">
    <div class="secondnav_icon">
      <img src="<%=image_path('pin-icon.png')%>" alt="">
      <p>Autour de moi</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('asia-icon.png')%>" alt="">
      <p>Asiatique</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('vegetarian-icon.png')%>" alt="">
      <p>Végétarien</p>
    </div>
  </div>
</div>